.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

:root {
  --textColor: #b3b3b3;
  --textColorHover: #fff;
  --transition: 200ms;
  --borderColor: #393939;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .content {
  display: flex;
  flex-flow: column;
  gap: 20px;
  border: 2px solid var(--borderColor);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(4px);
}
.wrapper .content .developer {
  display: flex;
  gap: 20px;
}
.wrapper .content .developer img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #000;
  transition: var(--transition);
  user-select: none;
}
.wrapper .content .developer img:hover {
  transition: var(--transition);
  filter: drop-shadow(0px 0px 10px #000);
}
.wrapper .content .developer .info {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.wrapper .content .developer h1 {
  margin: 0;
  cursor: default;
  transition: var(--transition);
}
.wrapper .content .developer h1:hover {
  transition: var(--transition);
  filter: drop-shadow(0px 0px 10px #000);
}
.wrapper .content .developer h2 {
  margin: 0;
  font-size: 16px;
  cursor: default;
  color: var(--textColor);
  transition: var(--transition);
}
.wrapper .content .developer h2:hover {
  transition: var(--transition);
  filter: drop-shadow(0px 0px 10px #000);
}
.wrapper .content .links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.wrapper .content .links ul {
  margin: 0;
  padding: 0;
}
.wrapper .content .links ul li {
  list-style: none;
}
.wrapper .content .links ul li a {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  align-items: center;
  color: var(--textColor);
  transition: var(--transition);
}
.wrapper .content .links ul li a:hover {
  color: var(--textColorHover);
  transition: var(--transition);
  filter: drop-shadow(0px 0px 10px #000);
}
.wrapper .content .links ul li a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.wrapper .content .links ul li a p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.wrapper .content .links .qr {
  position: relative;
  display: flex;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid var(--borderColor);
  background-image: url("../img/qr.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

* {
  font-family: "Rubik", sans-serif;
}

*::selection {
  background: #c70000;
}

canvas {
  position: absolute;
}

body {
  padding: 0;
  background-color: #151515;
  color: #f1f1f1;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */